li .bus {
    font-size:3.5em;
    float:left;
    margin-right:0.25em;
    min-width:1.75em;
    text-align:right;
}
li .info {
    float:left;
}
li .loc .time {
    margin-right:1em;
}

li .loc .name {
    color:#C1272D;
    margin-bottom:0.2em;
}
li .loc .name.second {
    margin-top:0.6em;
}

.clearfix:after {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0;
}

.clearfix {
    display: inline-block;
}

html[xmlns] .clearfix {
    display: block;
}

* html .clearfix {
    height: 1%;
}


#bus .content .dir {
    float:left;
    margin-right:1em;
}

#bus .content .dir .name {
    color:#C1272D;
    margin-bottom:0.5em;
    font-weight:bold;
}
#bus .content .dir .time {
    margin-bottom:0.2em;
    font-size:1.2em;
}
